.btn-primary.rounded {
  border-radius: 200px; /* Adjust the value to control the roundness */
}

/* .checkout {
  position: fixed;
} */

/* .btn-order {
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 75rem;
} */

/* @media (max-width: 768px) {
  .col-7 {
    flex: 1 0 auto;
    max-width: 100%;
  }
} */

/* .my-navbar {
  background-color: #512da8;
} */

.body {
  background-color: #212529;
  color: green;
}

.menu {
  color: white;
  margin-top: 100px;
}

.checkout {
  margin-top: 100px;
  color: white;
}

.fixed-top {
  padding: 20px 0 20px 8px;
}

#navbar-example2 {
  /* position: absolute; */
  position: sticky;
  top: 8%;
  /* position: fixed; */
  z-index: 1;
  width: auto;
}

.menu-nav {
  background-color: #212529;
  color: white;
}

.home {
}

.custom-checkout {
  background-color: #212529;
  color: white;
}

.home-items {
  margin-top: 70px;
  background-color: #212529;
  color: white;
}

.item-body {
  background-color: #212529;
  color: white;
  min-height: 100vh;
}
z .orders-body {
  background-color: #212529;
  color: white;
}

.modal-dark .modal-content {
  background-color: #212529;
  color: white;
}

.modal-dark .modal-header,
.modal-dark .modal-footer {
  border-color: #434a50;
}

.modal-dark .modal-header .close {
  color: white;
}

.modal-dark .modal-title {
  color: white;
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  font-family: "Poetsen One", cursive;
}
.order-button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
