.btn-primary.rounded {
  border-radius: 200px; /* Adjust the value to control the roundness */
}

/* .checkout {
  position: fixed;
} */

/* .btn-order {
  padding-top: 20rem;
  padding-bottom: 20rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 75rem;
} */

@media (max-width: 768px) {
  .col-7 {
    flex: 1 0 auto;
    max-width: 100%;
  }
}

/* @media print {
  body * {
    visibility: hidden;
  }
  .modal-footer {
    display: none !important;
  }
  .modal-header {
    display: none !important;
  }
  #modalContent,
  #modalContent * {
    visibility: visible;
  }
  #modalContent {
    position: absolute;
    max-height: 277mm;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
} */

.center-print {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
